 {"openapi":"3.0.1","info":{"title":"Vessel Arrival Declarations","description":"Vessel Arrival Declaration by IMO Number \n/imonumber/{imonumber}   GET\n\nLast Vessel Arrival Declaration by Vessel Name \n/last/vesselname/{vesselname}  GET\n\nVessel Arrival Declaration by Vessel Name \n/vesselname/{vesselname}     GET\n\nVessel Arrival Declaration for Past ‘N’ Hours \n/pastNhours  GET\n\nVessel Arrival Declaration by Date \n/bydate  GET\n\nVessel Arrival Declaration by CallSign \n/callsign/{callsign}  GET","version":"1.0.0"},"servers":[{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/arrivaldeclaration/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/arrivaldeclaration/1.0.0"},{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/arrivaldeclaration/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/arrivaldeclaration/1.0.0"}],"security":[{"api_key":[]}],"paths":{"/last/vesselname/{vesselname}":{"get":{"summary":"Get latest vessel arrival declaration by vessel name","description":"Provides the corresponding latest vessel arrival declaration information for the given vessel name. The data is updated every hour.","parameters":[{"name":"vesselname","in":"path","description":"Name of the vessel (1-35 chars, must match ^[0-9a-zA-Z-_. ']+$)","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"pattern":"^[0-9a-zA-Z-_. ']+$","type":"string"},"example":"RADJA SAMUDERA ABADI"}],"responses":{"200":{"description":"Latest vessel arrival declaration found for the provided vessel name.","content":{"application/json":{"schema":{"type":"array","items":{"required":["agent","crew","grid","location","pax","purpose","reportedArrivalTime","vesselParticulars"],"type":"object","properties":{"vesselParticulars":{"required":["callSign","flag","imoNumber","vesselName"],"type":"object","properties":{"vesselName":{"type":"string","description":"Name of the vessel","example":"RADJA SAMUDERA ABADI"},"callSign":{"type":"string","description":"CallSign of the vessel","example":"PKJQ"},"imoNumber":{"type":"string","description":"IMO number of the vessel","example":"9762156"},"flag":{"type":"string","description":"Country flag of the vessel","example":"ID"}}},"location":{"type":"string","description":"Location of the vessel","example":"J15"},"grid":{"type":"string","description":"Grid of the vessel","example":""},"purpose":{"type":"string","description":"Purpose CSV field. The purpose field is a comma-separated value (CSV) field, where each value is a Yes(Y)/No(N) indicator in the following sequence:\n1. Loading / Unloading Cargo\n2. Loading / Unloading Passengers\n3. Taking Bunker\n4. Taking Ship Supplies\n5. Changing Crew\n6. Shipyard Repair\n7. Offshore Support\n8. Not Used\n9. Other Afloat Activities\n","example":"Y,N,N,N,N,N,N,N,N,"},"agent":{"type":"string","description":"Agent of the vessel","example":"INFINITI SHIPPING PTE LTD"},"reportedArrivalTime":{"type":"string","description":"The reported arrival time","nullable":true,"example":"2024-01-23 15:25:00"},"crew":{"type":"string","description":"Number of crew members","nullable":true,"example":"13"},"pax":{"type":"string","description":"Number of passengers","nullable":true,"example":"0"}}}},"examples":{"success":{"summary":"Example response","value":[{"vesselParticulars":{"vesselName":"RADJA SAMUDERA ABADI","callSign":"PKJQ","imoNumber":"9762156","flag":"ID"},"location":"J15","grid":"","purpose":"Y,N,N,N,N,N,N,N,N,","agent":"INFINITI SHIPPING PTE LTD","reportedArrivalTime":"2024-01-23 15:25:00","crew":"13","pax":"0"}]}}}}},"204":{"description":"No results found for the provided request."},"304":{"description":"Not Modified"},"400":{"description":"The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"},"401":{"description":"Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"},"403":{"description":"Access Denied / Forbidden:Authentication has failed,please try with valid keys"},"404":{"description":"Not Found:The requested resource not found, please check the uri"},"405":{"description":"Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."},"409":{"description":"Conflict:The requested resource already exists"},"411":{"description":"Length Required:The request doesn't specify the content length"},"412":{"description":"Precondition failed"},"413":{"description":"Request_Entity_too_large"},"414":{"description":"Request-URI Too Long"},"415":{"description":"Unsupported Media Type:Please try with valid MIME Types"},"500":{"description":"Something went wrong on the gateway / Internal Server Error:Please try after sometime"},"501":{"description":"Not Implemented"},"502":{"description":"Bad Gateway:Please try after sometime"},"503":{"description":"Service Unavailable:The requested service is currently unavailable, Please try after some time"},"504":{"description":"Gateway Timeout:Did not get the response from the downstram systems"}},"security":[{"api_key":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}}}}