 {"openapi":"3.0.1","info":{"title":"Vessel Particulars","description":"Vessel Particulars by CallSign\n/callsign/{callsign}  GET\n\nVessel Particulars by Name\n/vesselname/{vesselname}   GET\n\nList of Vessel Particulars by name \n/name/{charset}   GET\n\nVessel Particulars by IMO Number\n/imonumber/{imonumber}    GET","version":"1.0.0"},"servers":[{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/particulars/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/particulars/1.0.0"},{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/particulars/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/particulars/1.0.0"}],"security":[{"api_key":[]}],"paths":{"/name/{charset}":{"get":{"summary":"Get vessel particulars by vessel name pattern","description":"Provides vessel particulars (IMO number and vessel name) for vessels whose names match the provided character pattern. The data is updated every 6 hours.","parameters":[{"name":"charset","in":"path","description":"Vessel names (3-8 chars, must match ^[0-9a-zA-Z-_. ']+$)","required":true,"style":"simple","explode":false,"schema":{"maxLength":8,"minLength":3,"pattern":"^[0-9a-zA-Z-_. ']+$","type":"string"},"example":"BINTANG"}],"responses":{"200":{"description":"Vessel particulars found. Returns an array of objects with vesselName and imoNumber.","content":{"application/json":{"schema":{"type":"array","items":{"required":["imoNumber","vesselName"],"type":"object","properties":{"vesselName":{"type":"string","description":"Name of the vessel","example":"BINTANG ABADI"},"imoNumber":{"type":"string","description":"IMO number of the vessel","example":"9232474"}}}},"examples":{"success":{"summary":"Example response","value":[{"vesselName":"BINTANG ABADI","imoNumber":"9232474"},{"vesselName":"BINTANG ABADI","imoNumber":"0"}]}}}}},"204":{"description":"No results found for the provided request."},"304":{"description":"Not Modified"},"400":{"description":"The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"},"401":{"description":"Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"},"403":{"description":"Access Denied / Forbidden:Authentication has failed,please try with valid keys"},"404":{"description":"Not Found:The requested resource not found, please check the uri"},"405":{"description":"Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."},"409":{"description":"Conflict:The requested resource already exists"},"411":{"description":"Length Required:The request doesn't specify the content length"},"412":{"description":"Precondition failed"},"413":{"description":"Request_Entity_too_large"},"414":{"description":"Request-URI Too Long"},"415":{"description":"Unsupported Media Type:Please try with valid MIME Types"},"500":{"description":"Something went wrong on the gateway / Internal Server Error:Please try after sometime"},"501":{"description":"Not Implemented"},"502":{"description":"Bad Gateway:Please try after sometime"},"503":{"description":"Service Unavailable:The requested service is currently unavailable, Please try after some time"},"504":{"description":"Gateway Timeout:Did not get the response from the downstram systems"}},"security":[{"api_key":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}}}}