 {"openapi":"3.0.1","info":{"title":"Vessel Particulars","description":"Vessel Particulars by CallSign\n/callsign/{callsign}  GET\n\nVessel Particulars by Name\n/vesselname/{vesselname}   GET\n\nList of Vessel Particulars by name \n/name/{charset}   GET\n\nVessel Particulars by IMO Number\n/imonumber/{imonumber}    GET","version":"1.0.0"},"servers":[{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/particulars/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/particulars/1.0.0"},{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/particulars/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/particulars/1.0.0"}],"security":[{"api_key":[]}],"paths":{"/imonumber/{imonumber}":{"get":{"summary":"Get vessel particulars by IMO number","description":"Provides vessel particulars information for the given IMO number. The data is updated every 6 hours.","parameters":[{"name":"imonumber","in":"path","description":"IMO number of the vessel (1-10 chars, must match ^[a-zA-Z0-9]+$)","required":true,"style":"simple","explode":false,"schema":{"maxLength":10,"minLength":1,"pattern":"^[a-zA-Z0-9]+$","type":"string"},"example":7356305}],"responses":{"200":{"description":"Vessel particulars found. Returns an array of vessel particulars. Singapore-flagged and non-Singapore-flagged vessels have different schemas.","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"required":["callSign","classificationSociety","deadweight","flag","grossTonnage","imoNumber","ismManager","mmsiNumber","netTonnage","registeredOwnership","shipManager","vesselBreadth","vesselDepth","vesselLength","vesselName","vesselType","yearBuilt"],"type":"object","properties":{"vesselName":{"type":"string","description":"Name of the vessel","example":"I MOLA"},"callSign":{"type":"string","description":"Vessel call sign","example":"9V5704"},"imoNumber":{"type":"string","description":"IMO number of the vessel","example":"9204025"},"flag":{"type":"string","description":"Country flag of the vessel","example":"SG"},"vesselLength":{"type":"number","description":"Length of the vessel","example":31},"vesselBreadth":{"type":"number","description":"Breadth of the vessel","example":7},"vesselDepth":{"type":"number","description":"Depth of the vessel","example":2},"vesselType":{"type":"string","description":"Type of vessel","example":"FB"},"grossTonnage":{"type":"number","description":"Gross tonnage of the vessel","example":240},"netTonnage":{"type":"number","description":"Net tonnage of the vessel","example":72},"deadweight":{"type":"number","description":"Dead weight of the vessel","example":0},"mmsiNumber":{"type":"string","description":"MMSI number of the vessel","example":"564759000"},"yearBuilt":{"type":"string","description":"Year built","example":"1995"},"ismManager":{"type":"string","description":"ISM Manager","example":"SINGAPORE ISLAND CRUISE & FERRY SERVICES PTE LTD"},"shipManager":{"type":"string","description":"Ship Manager","example":"SINGAPORE ISLAND CRUISE & FERRY SERVICES PTE LTD"},"registeredOwnership":{"type":"string","description":"Registered Ownership","example":"SINGAPORE ISLAND CRUISE & FERRY SERVICES PTE LTD"},"classificationSociety":{"type":"string","description":"Classification Society","example":"MPA"}}},{"required":["callSign","deadweight","flag","grossTonnage","imoNumber","mmsiNumber","netTonnage","vesselBreadth","vesselDepth","vesselLength","vesselName","vesselType","yearBuilt"],"type":"object","properties":{"vesselName":{"type":"string","description":"Name of the vessel","example":"IONA"},"callSign":{"type":"string","description":"Vessel call sign","example":"VRWN5"},"imoNumber":{"type":"string","description":"IMO number of the vessel","example":"7356305"},"flag":{"type":"string","description":"Country flag of the vessel","example":"HK"},"vesselLength":{"type":"number","description":"Length of the vessel","example":183},"vesselBreadth":{"type":"number","description":"Breadth of the vessel","example":0},"vesselDepth":{"type":"number","description":"Depth of the vessel","example":0},"vesselType":{"type":"string","description":"Type of vessel","example":"TA"},"grossTonnage":{"type":"number","description":"Gross tonnage of the vessel","example":22988},"netTonnage":{"type":"number","description":"Net tonnage of the vessel","example":11840},"deadweight":{"type":"number","description":"Dead weight of the vessel","example":39860},"mmsiNumber":{"type":"string","description":"MMSI number of the vessel","example":"477123900"},"yearBuilt":{"type":"string","description":"Year built","example":"1974"}}}]}},"examples":{"singapore-flagged":{"summary":"Singapore-flagged vessel","value":[{"vesselName":"I MOLA","callSign":"9V5704","imoNumber":"9204025","flag":"SG","vesselLength":31,"vesselBreadth":7,"vesselDepth":2,"vesselType":"FB","grossTonnage":240,"netTonnage":72,"deadweight":0,"mmsiNumber":"564759000","yearBuilt":"1995","ismManager":"SINGAPORE ISLAND CRUISE & FERRY SERVICES PTE LTD","shipManager":"SINGAPORE ISLAND CRUISE & FERRY SERVICES PTE LTD","registeredOwnership":"SINGAPORE ISLAND CRUISE & FERRY SERVICES PTE LTD","classificationSociety":"MPA"}]},"non-singapore-flagged":{"summary":"Non-Singapore-flagged vessel","value":[{"vesselName":"IONA","callSign":"VRWN5","imoNumber":"7356305","flag":"HK","vesselLength":183,"vesselBreadth":0,"vesselDepth":0,"vesselType":"TA","grossTonnage":22988,"netTonnage":11840,"deadweight":39860,"mmsiNumber":"477123900","yearBuilt":"1974"}]}}}}},"204":{"description":"No results found for the provided request."},"304":{"description":"Not Modified"},"400":{"description":"The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"},"401":{"description":"Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"},"403":{"description":"Access Denied / Forbidden:Authentication has failed,please try with valid keys"},"404":{"description":"Not Found:The requested resource not found, please check the uri"},"405":{"description":"Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."},"409":{"description":"Conflict:The requested resource already exists"},"411":{"description":"Length Required:The request doesn't specify the content length"},"412":{"description":"Precondition failed"},"413":{"description":"Request_Entity_too_large"},"414":{"description":"Request-URI Too Long"},"415":{"description":"Unsupported Media Type:Please try with valid MIME Types"},"500":{"description":"Something went wrong on the gateway / Internal Server Error:Please try after sometime"},"501":{"description":"Not Implemented"},"502":{"description":"Bad Gateway:Please try after sometime"},"503":{"description":"Service Unavailable:The requested service is currently unavailable, Please try after some time"},"504":{"description":"Gateway Timeout:Did not get the response from the downstram systems"}},"security":[{"api_key":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}}}}