 {"openapi":"3.0.1","info":{"title":"Vessel Arrivals","description":"Vessel Arrivals by Date \n/date/{yyyy-MM-dd}  GET\n\nVessel Arrivals for Past ‘N’ Hours \n/date/{date}/hours/{hours}   GET","version":"1.0.0"},"servers":[{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/arrivals/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/arrivals/1.0.0"},{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/arrivals/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/arrivals/1.0.0"}],"security":[{"api_key":[]}],"paths":{"/date/{date}/hours/{hours}":{"get":{"summary":"Get vessel arrivals for past N hours","description":"Provides the corresponding vessels arrival information for the given date and time in yyyy-MM-dd HH:mm:ss format and the past N hours. The data is updated every hour.","parameters":[{"name":"date","in":"path","description":"Date and time in yyyy-MM-dd HH:mm:ss format","required":true,"style":"simple","explode":false,"schema":{"pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$","type":"string","format":"date-time"},"example":"2025-08-30 20:20:30"},{"name":"hours","in":"path","description":"Number of past hours to include (1-2 digits, optional decimal with up to 2 digits)","required":true,"style":"simple","explode":false,"schema":{"pattern":"^[\\d]{1,2}(\\.\\d{1,2})?$","type":"string"},"example":"6"}],"responses":{"200":{"description":"Vessel arrivals found for the provided date and hours.","content":{"application/json":{"schema":{"type":"array","items":{"required":["arrivedTime","locationFrom","locationTo","vesselParticulars"],"type":"object","properties":{"vesselParticulars":{"required":["callSign","flag","imoNumber","vesselName"],"type":"object","properties":{"vesselName":{"type":"string","description":"Name of the vessel","example":"TING JIANG KOU"},"callSign":{"type":"string","description":"Vessel call sign","example":"V7A6256"},"imoNumber":{"type":"string","description":"IMO number of the vessel","example":"9991783"},"flag":{"type":"string","description":"Vessel flag","example":"MH"}}},"arrivedTime":{"type":"string","description":"Arrival time (YYYY-MM-DD HH:MM:SS)","format":"date-time"},"locationFrom":{"type":"string","description":"Location from","example":"SEAE"},"locationTo":{"type":"string","description":"Location to","example":"PEBGC"}}}},"examples":{"success":{"summary":"Example response","value":[{"vesselParticulars":{"vesselName":"TING JIANG KOU","callSign":"V7A6256","imoNumber":"9991783","flag":"MH"},"arrivedTime":"2025-08-30 14:25:00","locationFrom":"SEAE","locationTo":"PEBGC"},{"vesselParticulars":{"vesselName":"CHRISTINA J","callSign":"V7UE7","imoNumber":"9492232","flag":"MH"},"arrivedTime":"2025-08-30 14:30:00","locationFrom":"SEAE","locationTo":"PEBGC"}]}}}}},"204":{"description":"No results found for the provided request."},"304":{"description":"Not Modified"},"400":{"description":"The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"},"401":{"description":"Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"},"403":{"description":"Access Denied / Forbidden:Authentication has failed,please try with valid keys"},"404":{"description":"Not Found:The requested resource not found, please check the uri"},"405":{"description":"Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."},"409":{"description":"Conflict:The requested resource already exists"},"411":{"description":"Length Required:The request doesn't specify the content length"},"412":{"description":"Precondition failed"},"413":{"description":"Request_Entity_too_large"},"414":{"description":"Request-URI Too Long"},"415":{"description":"Unsupported Media Type:Please try with valid MIME Types"},"500":{"description":"Something went wrong on the gateway / Internal Server Error:Please try after sometime"},"501":{"description":"Not Implemented"},"502":{"description":"Bad Gateway:Please try after sometime"},"503":{"description":"Service Unavailable:The requested service is currently unavailable, Please try after some time"},"504":{"description":"Gateway Timeout:Did not get the response from the downstram systems"}},"security":[{"api_key":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}}}}