 {"openapi":"3.0.1","info":{"title":"Vessels Due to Depart","description":"Vessels Due to Depart by Date\n/date/{yyyy-MM-dd}   GET\n\nVessels Due to Depart for Next ‘N’ Hours \n/date/{date}/hours/{hours}  GET","version":"1.0.0"},"servers":[{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/duetodepart/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/duetodepart/1.0.0"},{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/duetodepart/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/duetodepart/1.0.0"}],"security":[{"api_key":[]}],"paths":{"/date/{datetime}/hours/{hours}":{"get":{"summary":"Get vessels due to depart for next N hours","description":"Provides vessels that are due to depart for the given datetime (yyyy-MM-dd HH:mm:ss) and the next N hours. Data is updated every hour.","parameters":[{"name":"datetime","in":"path","description":"Start datetime (yyyy-MM-dd HH:mm:ss)","required":true,"style":"simple","explode":false,"schema":{"pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$","type":"string","format":"date-time"},"example":"2021-12-16 08:08:47"},{"name":"hours","in":"path","description":"Number of hours to look ahead (1-2 digits, optional decimal with up to 2 digits)","required":true,"style":"simple","explode":false,"schema":{"pattern":"^[\\d]{1,2}(\\.\\d{1,2})?$","type":"string"},"example":10}],"responses":{"200":{"description":"Vessels due to depart for the provided datetime and next N hours.","content":{"application/json":{"schema":{"type":"array","items":{"required":["dueToDepart","vesselParticulars"],"type":"object","properties":{"vesselParticulars":{"required":["callSign","flag","imoNumber","vesselName"],"type":"object","properties":{"vesselName":{"type":"string","description":"Name of the vessel","example":"KOTA GABUNG"},"callSign":{"type":"string","description":"Vessel call sign","example":"VRQR3"},"imoNumber":{"type":"string","description":"IMO number of the vessel","example":"9616852"},"flag":{"type":"string","description":"Country flag of the vessel","example":"HK"}}},"dueToDepart":{"type":"string","description":"Vessel due to depart time (YYYY-MM-DD HH:MM:SS)","format":"date-time"}}}},"examples":{"success":{"summary":"Example response","value":[{"vesselParticulars":{"vesselName":"KOTA GABUNG","callSign":"VRQR3","imoNumber":"9616852","flag":"HK"},"dueToDepart":"2021-12-16 15:00:00"},{"vesselParticulars":{"vesselName":"OCEANA BLUE","callSign":"","imoNumber":"0","flag":"ID"},"dueToDepart":"2021-12-16 16:30:00"}]}}}}},"204":{"description":"No results found for the provided request."},"304":{"description":"Not Modified"},"400":{"description":"The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"},"401":{"description":"Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"},"403":{"description":"Access Denied / Forbidden:Authentication has failed,please try with valid keys"},"404":{"description":"Not Found:The requested resource not found, please check the uri"},"405":{"description":"Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."},"409":{"description":"Conflict:The requested resource already exists"},"411":{"description":"Length Required:The request doesn't specify the content length"},"412":{"description":"Precondition failed"},"413":{"description":"Request_Entity_too_large"},"414":{"description":"Request-URI Too Long"},"415":{"description":"Unsupported Media Type:Please try with valid MIME Types"},"500":{"description":"Something went wrong on the gateway / Internal Server Error:Please try after sometime"},"501":{"description":"Not Implemented"},"502":{"description":"Bad Gateway:Please try after sometime"},"503":{"description":"Service Unavailable:The requested service is currently unavailable, Please try after some time"},"504":{"description":"Gateway Timeout:Did not get the response from the downstram systems"}},"security":[{"api_key":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}}}}