 {"openapi":"3.0.1","info":{"title":"Vessel Arrivals","description":"Vessel Arrivals by Date \n/date/{yyyy-MM-dd}  GET\n\nVessel Arrivals for Past ‘N’ Hours \n/date/{date}/hours/{hours}   GET","version":"1.0.0"},"servers":[{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/arrivals/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/arrivals/1.0.0"},{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/arrivals/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/arrivals/1.0.0"}],"security":[{"api_key":[]}],"paths":{"/date/{date}":{"get":{"summary":"Get vessel arrivals by date","description":"Provides the corresponding vessels arrival information for the given date in yyyy-MM-dd format. The data is updated every hour.","parameters":[{"name":"date","in":"path","description":"Date in yyyy-MM-dd format","required":true,"style":"simple","explode":false,"schema":{"pattern":"^\\d{4}-\\d{2}-\\d{2}$","type":"string","format":"date"},"example":"2025-08-30"}],"responses":{"200":{"description":"Vessel arrivals found for the provided date.","content":{"application/json":{"schema":{"type":"array","items":{"required":["arrivedTime","locationFrom","locationTo","vesselParticulars"],"type":"object","properties":{"vesselParticulars":{"required":["callSign","flag","imoNumber","vesselName"],"type":"object","properties":{"vesselName":{"type":"string","description":"Name of the vessel","example":"NORD AQUARIUS"},"callSign":{"type":"string","description":"Vessel call sign","example":"Infinity"},"imoNumber":{"type":"string","description":"IMO number of the vessel","example":"9941398"},"flag":{"type":"string","description":"Vessel flag","example":"PA"}}},"arrivedTime":{"type":"string","description":"Arrival time (YYYY-MM-DD HH:MM:SS)","format":"date-time"},"locationFrom":{"type":"string","description":"Location from","example":"SEAW"},"locationTo":{"type":"string","description":"Location to","example":"PEBGB"}}}},"examples":{"success":{"summary":"Example response","value":[{"vesselParticulars":{"vesselName":"NORD AQUARIUS","callSign":"Infinity","imoNumber":"9941398","flag":"PA"},"arrivedTime":"2025-08-30 00:00:00","locationFrom":"SEAW","locationTo":"PEBGB"},{"vesselParticulars":{"vesselName":"VIS","callSign":"Infinity","imoNumber":"9931862","flag":"PA"},"arrivedTime":"2025-08-30 00:00:00","locationFrom":"SEAE","locationTo":"PGBG"}]}}}}},"204":{"description":"No results found for the provided request."},"304":{"description":"Not Modified"},"400":{"description":"The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"},"401":{"description":"Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"},"403":{"description":"Access Denied / Forbidden:Authentication has failed,please try with valid keys"},"404":{"description":"Not Found:The requested resource not found, please check the uri"},"405":{"description":"Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."},"409":{"description":"Conflict:The requested resource already exists"},"411":{"description":"Length Required:The request doesn't specify the content length"},"412":{"description":"Precondition failed"},"413":{"description":"Request_Entity_too_large"},"414":{"description":"Request-URI Too Long"},"415":{"description":"Unsupported Media Type:Please try with valid MIME Types"},"500":{"description":"Something went wrong on the gateway / Internal Server Error:Please try after sometime"},"501":{"description":"Not Implemented"},"502":{"description":"Bad Gateway:Please try after sometime"},"503":{"description":"Service Unavailable:The requested service is currently unavailable, Please try after some time"},"504":{"description":"Gateway Timeout:Did not get the response from the downstram systems"}},"security":[{"api_key":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}}}}